html {
    font-family: monospace, monospace;
}

:root,
html[data-theme="light"] {
    --color-fill: rgb(251, 254, 251);
    --color-base: rgb(40, 39, 40);
    --color-accent: rgb(0, 108, 172);
    --color-bar: rgb(230, 230, 230);
    --color-bar-hover: rgb(205, 205, 205);
}

html[data-theme="dark"] {
    --color-fill: rgb(15, 15, 15);
    --color-base: rgb(230, 230, 230);
    --color-accent: rgb(26, 217, 217);
    --color-bar: rgb(63, 75, 90);
    --color-bar-hover: rgb(89, 107, 129);
}

#sun-svg,
html[data-theme="dark"] #moon-svg {
    display: none;
}
#moon-svg,
html[data-theme="dark"] #sun-svg {
    display: block;
}

::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    background: var(--color-fill);
}

::-webkit-scrollbar-thumb {
    background: var(--color-bar);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-bar-hover);
}

body {
    background-color: var(--color-fill);
    color: var(--color-base);
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100%;
    min-height: 100vh;
    grid-template-columns:100%;
    overflow-x: hidden;
}

section, footer, header {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-bottom: 3rem;
    max-width: 50rem;
}

footer {
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    margin-bottom: 1rem;
}

header {
    margin-top: 0;
    grid-row-start: 0;
    grid-row-end: 1;
    width: 100%;
}

p, h1, h2, h3, ul, em {
    color: var(--color-base);
}

em {
    opacity: 0.8;
    font-size: 1.125rem;
    padding-top: -10rem;
}

strong {
    color: var(--color-accent);
    font-weight: bold;
}

button {
    border-width: 0px;
    background: transparent;
}

header a {
    color: var(--color-base);
}

h1 {
	font-weight: 700;
    font-size: 2.7rem;
    line-height: 1;
}

p, ul {
    line-height: 1.75rem;
}

h2 {
	font-weight: 100;
    margin-top: 3rem;
    margin-bottom: -0.75rem;
    font-size: 1.75rem;
}



.prose a, .prose a:visited {
    color: var(--color-accent);
    text-decoration-color: var(--color-base);
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-underline-offset: 8px;
}

.prose a:hover {
    text-decoration-color: var(--color-accent);
}


svg {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    fill: var(--color-base);
}

svg.icon-tabler {
    fill: transparent;
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--color-base);
}

svg.icon-tabler:hover {
    stroke: var(--color-accent);
}


@media (max-width:  640px) {
    .footer-wrapper {
        justify-content: center;
    }

    #nav-menu {
        flex-direction: column;
    }

    .hamburger-menu {
        display: flex !important;
    }


    nav ul {
        display: none !important;
    }

    nav ul li a {
        margin-top: 1rem;
    }

    .show {
        display: flex !important;
        flex-direction: column;
    }

    #theme-btn {
        margin-top: 1rem;
    }

}

.sep {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
}


/* /tech */

.icons {
    display: grid;
    font-size: 40px !important;
    color: var(--color-accent);
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.tech-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
}

.row p {
    display: grid;
    justify-content: center;
    align-items: center;
}

.tech-title {
    margin-bottom: 0.5rem;
}

