---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
    <div class="not-found-wrapper">
      <h1>404</h1>
      <p>Page Not Found</p>
      <a href="/">
        Go back home
      </a>
    </div>
</Layout>

<style>
#content {
    display: grid;
    justify-content: center;
    align-items: center;
}
.not-found-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found-wrapper h1 {
	font-weight: 700;
    font-size: 15rem;
    margin-bottom: 0;
    margin-top: 0;
}

.not-found-wrapper p {
    font-size: 2rem;
}

.not-found-wrapper a {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-underline-offset: 8px;
    font-size: 1.5rem;
}
</style>
