---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import type { MarkdownInstance } from "astro";

const experiences = await Astro.glob<MarkdownInstance>("../assets/intro.md");
const { frontmatter, Content } = experiences[0];
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero" class="mb-28 prose max-w-3xl prose-a:font-bold prose-img:border-0 text-justify pt-2 mt-10">
        <h1 class="text-bold text-5xl">Hi, I am Kinshuk Phalke</h1>
        <Content />
    </section>
  </main>

  <Footer />
</Layout>

<style>
  #hero {
    @apply pt-8 text-justify;
  }
</style>
