---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import type { Frontmatter } from "src/types";
import Socials from "@components/Socials.astro";

const posts = await Astro.glob<Frontmatter>("../contents/**/*.md");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(
  ({ frontmatter }) => frontmatter.featured
);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Hi, I'm Kinshuk Phalke</h1>
      <p>
        I am sophmore at the Georgia Institute of technology, Atlanta where I
        major in Computer Science. I specialize in Systems and Architecture and
        Artificial Intelligence. I am interested in FinTech, Machine Learning
        Research, Programming Languages, Operating Systems and Processor
        Architecture.
      </p>
      <br />
      <p>
        Currently, I am researching at the High Performance Architechture Labs
        at Georgia Tech with Xueyang Yang about In-Storage Compute Scheduling.
        I'm also working on personal projects related to making my own DIY
        <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
          href="https://github.com/xinslu/brush"
        >
          shell</LinkButton
        > in C using syscalls and writing a fractal based 3-D platformer using SFML
        in C++. I love talking about Linux, NeoVim and Rust.
      </p>
      <br />
      <p>
        I love watching thriller and/or mystery movies/tv shows, currently my
        favourites stand at
        <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
          href="https://en.wikipedia.org/wiki/Dark_(TV_series)"
        >
          Dark
        </LinkButton>
        and
        <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
          href="https://en.wikipedia.org/wiki/Better_Call_Saul"
        >
          Better Call Saul
        </LinkButton>
        . I also love listening to Avicii, Mac Miller and The Weekend.
      </p>
      <br />
      <p>
        Feel free to reach out to me via my
        <LinkButton
          className="hover:text-skin-accent underline underline-offset-2 decoration-dashed"
          href="mailto:phalkekinshuk@gmail.com"
        >
          mail
        </LinkButton> to talk about anything.
      </p>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 text-justify;
  }
  #hero h1 {
    @apply inline-block font-bold my-4 sm:my-8 text-3xl sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply h-6 w-6 scale-110 sm:scale-125 mb-2 sm:mb-3 fill-skin-accent;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply flex flex-col sm:flex-row sm:items-center mt-4 mb-6;
  }
  .social-links {
    @apply whitespace-nowrap mr-2 sm:mb-0 mb-1;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply font-semibold text-2xl tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply text-center my-8;
  }
</style>
