---
import projects from "@contents/projects"
import Projects from "@layouts/Projects.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
---
<Layout title="Projects | Kinshuk Phalke">
    <Header activeNav="projects" />
    <Breadcrumbs />
    <main id="main-content">
        <section id="about" class="mb-28 prose max-w-3xl prose-img:border-0 text-justify">
            <h1 className="text-2xl sm:text-3xl tracking-wider">Projects</h1>
                <div className="col-md-9 pe-5 text-justify">
                    {projects.map((project) => {
                        return (
                            <h2 class="text-sky-400"> 
                                <a class="text-sky-400" href={project.link} target="_blank"> {project.title}</a> 
                            </h2>
                                <p class="text-lg text-gray-10"><i>{project.tech}</i></p>
                                    <p id={project.title}></p>
                        );
                    })}
            </div>
        </section>
    </main>
    </div>
    <Footer />
</Layout>

<script>
import projects from "../contents/projects"
projects.map((project) => {
    document.getElementById(project.title).innerHTML = project.description;
})
</script>

