---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "src/types";

const projects  = await Astro.glob<MarkdownInstance>("../assets/projects.md");
const { frontmatter, Content } = projects[0];
---
<Layout title="Projects | Kinshuk Phalke">
    <Header activeNav="projects" />
    <main id="main-content">
        <section id="projects" class="mb-20 prose max-w-3xl text-justify mt-10 prose-h2:my-2">
            <h1 className="text-2xl">Projects</h1>
                <div className="col-md-9 pe-5 text-justify">
                    <Content />
            </div>
        </section>
    </main>
    <Footer />
</Layout>
