---
import Layout from "@layouts/Layout.astro";
import skills from "@assets/skills.js";
let skillsString = "";
    skills.map((skill) => {
        skillsString +=
            `<h2 class="tech-title">` +
            skill.title +
        `</h2><br>`;
        skillsString += `<div class="tech-container">`;
        skill.rows.map((row) => {
            skillsString += `<div class="row"> <i class="icons devicon-` +
                    row[0] +
                    `"></i><p>` +
                    row[1] +
                    `</p></div>`;
        });
        skillsString += `</div>`;
    });
---
<Layout title="Tech" activeTab="tech">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
        <h1>Tech</h1>
        <h2>This Website</h2>
        <ul>
            <li> <a class="tech" href="https://astro.build/" target="_blank">Astro</a>: An agnostic minimal framework that can work as SSG and provide SSR</li>
        </ul>
        <h2>Dev Environment</h2>
        <ul>
            <li> <a class="tech" href="https://archlinux.org/" target="_blank">Arch Linux</a>: A simple, lightweight distro that I use mainly for the AUR.</li>
            <li> <a class="tech" href="https://github.com/baskerville/bspwm" target="_blank">bspwm</a>: A tiling window on the bsp policy.</li>
            <li> <a class="tech" href="https://alacritty.org/" target="_blank">Alacritty</a>: Terminal that's not the best but does everything I need it to.</li>
            <li> <a class="tech" href="https://www.zsh.org/" target="_blank">zsh</a>: A shell with some more features than bash that makes it better.</li>
            <li> <a class="tech" href="https://neovim.io/" target="_blank">nvim</a>: The best and most extensible text editor.</li>
        </ul>
        <div id="skills" set:html={skillsString}>
        </div>
</Layout>
