---
import Layout from "../layouts/Layout.astro";

let skills = [
    {
        title: "Programming Languages",
        rows: [
                [ "python-plain", "Python"],
                [ "javascript-plain", "JavaScript"],
                [ "rust-plain", "Rust"],
                [ "go-plain", "Golang" ],
                [ "java-plain", "Java"],
                [ "c-plain", "C"],
                [ "csharp-plain", "C#"],
                [ "latex-plain", "LaTeX"],
                [ "solidity-plain", "Solidity"],
                [ "bash-plain", "Bash"],
                [ "cplusplus-plain", "C++"],
                [ "typescript-plain", "Typescript"],
                [ "haskell-plain", "Haskell"],
                [ "ocaml-plain", "OCaml"],
        ],
    },
    {
        title: "Frameworks",
        rows: [
                [ "react-plain", "ReactJS"],
                [ "express-original", "Express.js"],
                [ "react-plain", "React Native"],
                [ "nodejs-plain", "Node.js"],
                [ "nextjs-plain", "NextJS"],
                [ "firebase-plain", "Firebase"],
                [ "flask-plain", "Flask"],
                [ "androidstudio-plain", "Android Studio"],
                [ "ionic-original", "Ionic Framework"],
                [ "angularjs-plain", "AngularJS"],
                [ "flutter-plain", "Flutter"],
                [ "bootstrap-plain", "Bootstrap"],
                [ "bulma-plain", "Bulma"],
                [ "gatsby-plain", "Gatsby"],
                [ "handlebars-plain", "Handlebar.js"],
                [ "django-plain", "django"],
                [ "socketio-plain", "Socket.IO"],
        ],
    },
    {
        title: "Libraries",
        rows: [
                [ "numpy-plain", "Numpy"],
                [ "pandas-plain", "Pandas"],
                [ "tensorflow-original", "Tensorflow"],
                [ "jupyter-plain", "Jupyter Notebook"],
                [ "pytorch-original", "PyTorch"],
                [ "opencv-plain", "OpenCV"],
        ],
    },
    {
        title: "Database",
        rows: [
                [ "mysql-plain", "SQl"],
                [ "mongodb-plain", "MongoDB"],
                [ "redis-plain", "Redis"],
        ],
    },
    {
        title: "Technologies",
        rows: [
                [ "git-plain", "Git"],
                [ "github-plain", "GitHub"],
                [ "docker-plain", "Docker"],
                [ "unity-original", "Unity"],
                [ "vim-plain", "Vim"],
                [ "linux-plain", "Linux"],
                [ "googlecloud-plain", "GCP"],
                [ "amazonwebservices-plain", "AWS"],
                [ "figma-plain", "Figma"],
                [ "xd-plain", "AdobeXD"],
                [ "matlab-plain", "Matlab"],
                [ "nginx-plain", "nginx"],
                [ "kubernetes-plain", "Kubernetes"],
                [ "raspberrypi-line", "Raspberry Pi"],
                [ "heroku-plain", "Heroku"],
        ],
    }
];

let skillsString = "";
    skills.map((skill) => {
        skillsString +=
            `<h2 class="tech-title">`+skill.title + `</h2><br>`;
        skillsString += `<div class="tech-container">`;
        skill.rows.map((row) => {
            skillsString += `<div class="row"> <i class="icons devicon-` + row[0] +`"></i><p>` + row[1] + `</p></div>`;
        });
        skillsString += `</div>`;
    });
---
<Layout title="Tech" activeTab="tech">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
        <h1>Tech</h1>
        <h2>This Website</h2>
        <ul>
            <li> <a class="tech" href="https://astro.build/" target="_blank">Astro</a>: An agnostic minimal framework that can work as SSG and provide SSR</li>
        </ul>
        <h2>Dev Environment</h2>
        <ul>
            <li> <a class="tech" href="https://archlinux.org/" target="_blank">Arch Linux</a>: A simple, lightweight distro that I use mainly for the AUR.</li>
            <li> <a class="tech" href="https://github.com/baskerville/bspwm" target="_blank">bspwm</a>: A tiling window on the bsp policy.</li>
            <li> <a class="tech" href="https://alacritty.org/" target="_blank">Alacritty</a>: Terminal that's not the best but does everything I need it to.</li>
            <li> <a class="tech" href="https://www.zsh.org/" target="_blank">zsh</a>: A shell with some more features than bash that makes it better.</li>
            <li> <a class="tech" href="https://neovim.io/" target="_blank">nvim</a>: The best and most extensible text editor.</li>
        </ul>
        <div id="skills" set:html={skillsString}>
        </div>
</Layout>
