---
export interface Props {
  activeNav?: "experience" | "projects" | "tech";
}

const { activeNav } = Astro.props;
---

<header>
  <div class="nav-container">
      <a href="/" class="logo">
        <svg xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12.71 2.29a1 1 0 0 0-1.42 0l-9 9a1 1 0 0 0 0 1.42A1 1 0 0 0 3 13h1v7a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7h1a1 1 0 0 0 1-1 1 1 0 0 0-.29-.71zM6 20v-9.59l6-6 6 6V20z"
          ></path>
        </svg>
      </a>
      <nav id="nav-menu">
        <button
          class="hamburger-menu"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <div class="icon-container">
            <div id="first-line"></div>
            <div id="second-line"></div>
            <div id="third-line"></div>
          </div>
        </button>
        <ul id="menu-items">
          <li>
            <a
              href="/experience"
              class={activeNav === "experience" ? "active" : ""}
            >
              Experience
            </a>
          </li>
          <li>
            <a href="/projects" class={activeNav === "projects" ? "active" : ""}>
              Projects
            </a>
          </li>
          <li>
            <a href="/tech" class={activeNav === "tech" ? "active" : ""}>
              Tech
            </a>
          </li>
          <li>
            <a href="https://xinslu.github.io/build/Resume/Resume.pdf">
              Resume
            </a>
          </li>
          <li>
            <button
              id="theme-btn"
              title="Toggles light & dark"
              aria-label="auto"
              aria-live="polite"
            >
              <svg xmlns="http://www.w3.org/2000/svg" id="moon-svg">
                <path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" id="sun-svg">
                <path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z" />
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  <div class="sep">
    <hr />
  </div>
</header>

<script>
  const menuBtn = document.querySelector(".hamburger-menu");
  const menuItems = document.querySelector("#menu-items")?.classList;

  const iconContainer = document.querySelector(".icon-container")?.classList;
  const firstLine = document.querySelector("#first-line")?.classList;
  const secondLine = document.querySelector("#second-line ")?.classList;
  const thirdLine = document.querySelector("#third-line")?.classList;

  menuBtn!.addEventListener("click", function (event) {
    const menuExpanded = menuBtn?.getAttribute("aria-expanded");
    if (menuExpanded === "false") {
      menuBtn?.setAttribute("aria-expanded", "true");
      menuItems?.add("show");
    } else {
      menuBtn?.setAttribute("aria-expanded", "false");
      menuItems?.remove("show");
    }
  });
</script>

<style>
::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    background: var(--color-fill);
}

button {
    border-width: 0px;
    background: transparent;
}


.nav-container {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.logo {
    position: absolute;
    padding: 1rem;
}

.hamburger-menu {
    align-self: flex-end;
    padding-right: 1rem;
    display: none;
}

nav {
    max-width: 50rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}


nav ul {
    display: flex;
    row-gap: 0px;
    column-gap: 1.25rem;
}


nav ul li {
    display: flex;
    grid-column: span 2 / span 2;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    width: 100%;
    text-align: center;
    text-decoration-line: none;
}

nav ul li a:hover  {
    color: var(--color-accent);
}

nav a.active {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: 4px;
}

#theme-btn {
    margin-right: 1rem;
    cursor: pointer;
}

.icon-container {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.icon-container div {
    height: 0.1rem;
    background: var(--color-base);
}

#first-line {
    width: 100%;
}

#second-line {
    width: 75%;
}
#third-line {
    width: 50%;
}

@media (max-width:  640px) {
    #nav-menu {
        flex-direction: column;
    }

    .hamburger-menu {
        display: flex !important;
    }


    nav ul {
        width: 100% !important;
        display: none;
    }

    nav ul li a {
        margin-top: 1rem;
    }


    .show {
        display: flex !important;
        flex-direction: column;
    }

    #theme-btn {
        margin-top: 1rem;
    }
}

</style>
